<div class="ms-user">
  <% if feed.trackable %>
    <% if feed.user.uid %>
      <%= image_tag feed.user.image_url %>
    <% else %>
      <%= image_tag feed.user.avatar(:thumb)%>
    <% end %>

    <%= feed.user.name %>  <%= "will " + feed.trackable.description.downcase %> <small><%=time_ago_in_words(feed.trackable.created_at) %> ago </small><br>
  <% end %>
</div>

