<%= li_for_comment(comment) do %>
  <div class="lv-item media">
    <div class="lv-avatar pull-left">
      <% if comment.user.uid %>
        <%= image_tag comment.user.image_url %>
      <% else %>
        <%= image_tag comment.user.avatar.url(:thumb) %>
      <% end %>
    </div>
    
    <div class="media-body">
      <div class="ms-item">
        <p><%= comment.content %></p>
      </div>

      <small class="ms-date">
        <%= comment.user.name + "wrote" %>
        <%= time_ago_in_words(comment.created_at) + " ago" %><br>
        <%= comment.reply_counter %> comments
        <%= comment.cheer_count %> cheers
        <%= render 'cheers/form', cheerable: comment %>
      </small>
    </div>
  </div>

  <div class="reply-to-comment">
    <div class="reply-form hidden">
      <%= render "comments/form", commentable: comment%>
    </div>
    <button class="reply">Reply</button>
  </div>

    <% comment.replies.each do |reply| %>
      <div class="lv-item media right">
        <div class="lv-avatar pull-right">
          <% if comment.user.uid %>
            <%= image_tag comment.user.image_url %>
          <% else %>
            <%= image_tag comment.user.avatar.url(:thumb) %>
          <% end %>
        </div>

        <div class="media-body">
          <div class="ms-item">
            <p><%= reply.content %></p>
            <%= render 'cheers/form', cheerable: reply %>
          </div>
          <small class="ms-date">
            <%= reply.user.name + " wrote" %>
            <%= time_ago_in_words(reply.created_at) + " ago" %><br>
            <%= reply.cheer_count %> cheers<br>
          </small>
        </div>
    <% end %>

<% end %>