<% if @results.size >= 1 %>
  <h1 class="results-page-title">Search Results</h1>
  <ol>
<%# binding.pry %>
    <% @results.each do |result| %>
      <li class="result-content">
        <p class="search-result">
          <!-- IF RESULT IS A USER -->
          <% if result.class.name == "User" %>
            <%= result.name %>

            <% if !result.groups.include?(Group.find(params[:group_id]))%>
<%# binding.pry %>
              <%= render 'invitations/form', invitable: @group, recipient: result, invitation: @invitation %>
            <% else %>
              <span class="member-already"><%= "Already a member of #{Group.find(params[:group_id]).name}!"%></span>
            <% end %>

            <% if !!result.uid %>
              <%= image_tag result.image_url %>
            <% else %>
              <%= image_tag result.avatar.url(:thumb)%>
            <% end %>
          <!-- END IF RESULT IS A USER -->

          <!-- IF RESULT IS A GROUP -->
          <% elsif result.class.name == "Group" %>
            <%= result.name %>
            
            <% if !result.members.include?(current_user) %>
              <%= render 'invitations/form', invitable: result, recipient: result.creator, invitation: @invitation %>
            <% else %>
              <%= "You're a member already!"%>
            <% end %>
          <% end %>
          <!-- END IF RESULT IS A GROUP -->
        </p>
      </li>
    <% end %>
  </ol>
<% else %>
  <h1>No results match your search.</h1>
<% end %>