<div class="card">
  <div class="card-header">
    <h2>Log In to Goaly</h2>
  </div>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

  <div class="card-body card-padding">
    <form role="form">
      <div class="form-group fg-line">

        <% f.label :email %>
        <%= f.email_field :email, autofocus: true, placeholder: "E-mail", class: "form-control" %>
      </div>

      <div class="form-group fg-line">
        <% f.label :password %>
        <%= f.password_field :password, autocomplete: "off", placeholder: "Password", class: "form-control" %>
      </div>

      <div class="clearfix"></div>


      <%= f.submit "Log in", class: "btn btn-primary btn-sm m-t-1" %>

    </form>
  </div>
</div>

<% end %>

<%= render "users/shared/links" %>

