<%= form_for(@group) do |f| %>
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div><br>

  <div class="field">
    <%= f.label :avatar, "Group Avatar" %>
    <%= f.file_field :avatar %>
  </div><br>

  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>

  <div class="field">
    <%= f.label :tags %><br>
    <%= f.collection_check_boxes :tag_ids, Tag.all, :id, :name %>
  </div>

  <%= f.submit %>
<% end %>
