<br>
<%= li_for_group(group) do %>
  <a href="/groups/<%=group.id%>">
    <div class="ms-user">
      <% if group.image_url%>
        <img src="<%= group.image_url %>" style="height:auto;width:auto;max-width:60px;max-height:60px;">
      <% else %>
        <img src="<%= group.avatar.url %>" style="height:auto;width:auto;max-width:60px;max-height:60px;">
      <% end %>
      <small><%= group.name %></small>
    </div>
  </a>
<% end %>