<div class="ms-menu">
  <div class="ms-block">
    <div class="ms-user">
      <h3><%= group.name %></h3>
    </div>
    <%= image_tag group.avatar(:thumb) %>
    <small>
      <%= @group.cheer_count %>
      <div class="form-inline">
        <%= render 'cheers/form', cheerable: group %>
      </div><br>
      <%= "#{@group.members.count}" + " members"%>
    </small>
  </div>

  <div class="listview lv-user m-t-20">
    <div class="lv-item media active">
      <p class="about-group">
        <strong>About The Group</strong><br>
        <%= group.description %>
      </p>

      <% tags.each do |tag|%>
        <button class="btn btn-primary btn-xs waves-effect">
          <%= tag.name %>
        </button>
      <% end %>
    </div>

    <div class="lv-item media active">
      <p class="about-group" style="overflow:scroll;">
        <strong>Food For Thought</strong><br>
        <%= MotivationalQuote.find(rand(1..MotivationalQuote.count)).content %>
      </p>
    </div>


</div>