<% if flash[:notice] %>
  <div class="notice"><%= flash[:notice] %></div>
<% end %> 

<div>
	<%= render 'search/form' %>
	<%= render 'boards/form' %>
	<% if @results %>
		<%= render 'search/results' %>
	<% end %>
</div>

<div class="card m-b-0" id="messages-main">
	<%= render 'groups/groupinfo', group: @group, tags: @tags %>
</div>

<div class="ms-body">
	<div>
		<div class="row">
			<%= render @boards %>
		 </div>
	</div>
</div>

<div>Members
	<ul><%= render @members %></ul>
</div>