<% if flash[:notice] %>
  <div class="notice"><%= flash[:notice] %></div>
<% end %> 

<div>About the Group
	<%= render 'groups/groupinfo', group: @group, tags: @tags %>
</div>

<div>Members
	<ul><%= render @members %></ul>
</div>

<div>Search
	<%= render 'search/form' %>
	<% if @results %>
		<%= render 'search/results' %>
	<% end %>
</div>
 
<div>Groups Boards
	<%= render 'boards/form' %><br>
	<div id="group-boards">
		<%= render @boards %>
	 </div>
</div>