<h3><%= @group.name %></h3>

<h4>Members</h4>

	<% if @group.members %>
	  <% @group.members.each do |member| %>
	    <li> <%= member.name %>
	    </li>
	  <% end %>
  <% end %>

<h5>Search for Friends and Add Them to this Group</h5>
	<%= form_tag('/users/search', :method => "get", id: "search-form") do %>
	<%= text_field_tag :search, params[:search], placeholder: "Search Users" %>
	<%= hidden_field_tag :group_id, params[:id] %>
	<%= submit_tag "Search", :name => nil %>
	<% end %>

<% if @search_results %>
	<% render 'users/search_results' %>
<% end %>
