<% if flash[:notice] %>
  <div class="notice"><%= flash[:notice] %></div>
<% end %> 

	<div>Search
		<%= render 'search/form' %>
		<% if @results %>
			<%= render 'search/results' %>
		<% end %>
	</div>

<div class="card m-b-0" id="messages-main">
	<%= render 'groups/groupinfo', group: @group, tags: @tags %>
</div>

<div class="ms-body">
	<div>
		<%= render 'boards/form' %><br>
		<div class="row">
			<%= render @boards %>
		 </div>
	</div>
</div>

	<div>Members
		<ul><%= render @members %></ul>
	</div>