<% if flash[:notice] %>
  <div class="notice"><%= flash[:notice] %></div>
<% end %> 

<div>
	<%= render 'search/form' %>
	<%= render 'boards/form' %>
	<% if @results %>
		<%= render 'search/results' %>
	<% end %>
</div>

<div class="card m-b-0" id="messages-main">
	<%= render 'groups/groupinfo', group: @group, tags: @tags %>

</div>

<div class="ms-body">
	<%= render @boards %>

</div>
<div class="row", style="padding-left:15px;">
	<div class="member-scroll">
		<div class="card", style="width:940px;">
			<%= render @members %>
		</div>
	</div>
</div>
