	<ul>
		<% @results.each do |result| %>
			<p class="user-search-result"><%= image_tag result.avatar.url(:thumb)%>
				<%= "#{result.name}"%>
				<% if !@group.members.include?(result)%>
					<%= form_for(@user_group, controller: "user_groups", action: "create", html: { class: "form" }) do |f| %>
						<%= f.hidden_field :group_id, value: params[:group_id] %>
						<%= f.hidden_field :member_id, value: result.id %>
						<%= f.submit "Add User" %>
					<% end %>
				<% else %>
					<span class="member-already"><%= "Already a member of #{@group.name}!"%></span>
				<% end %>
			</p>
		<% end %>
	<%#= form_tag('/groups/:id', :method => "patch", id: "add-user-to-group") do %>
		<%#= hidden_field_tag :group_id, params[:group_id] %>
		<%#= hidden_field_tag :user_id, result.id %>
		<%#= submit_tag "Add #{result.name}", :name => nil %>
		<%# end %>
		<%# end %>
	</ul>



