<div class="col-sm-6 m-b-20">
  <div class="card">
    <%= div_for_board(board) do %>
    <div class="card-header">
      <h3><%= board.name %></h3>
      <%= board.comment_counter %> comments
      <%= board.cheer_count %> cheers
      <%= render 'cheers/form', cheerable: board %>
    </div>

    <!-- <div class="card-body card-padding"> -->
    <div class="scroll">
      <div class="listview lv-message">
        <% @comments = board.comments %>
        <div class="lv-body">
          <%= render @comments %>
          <div class="lv-footer ms-reply">
            <%= render 'comments/form', commentable: board %>
          </div>
        </div>
      </div>
    </div>
    <!-- </div> -->
    <% end %>
  </div>
</div>