<%= form_for(@goal) do |f| %>
  <div class="field">
    <%= f.label :name, "Title" %>
    <%= f.text_field :name %>
  </div><br>

  <div class="field">
    <%= f.label :description, "I will" %><br>
    <%= f.text_area :description %>
  </div>

  <div class="field">
    <%= f.label :tags, "I would describe this goal as" %><br>
    <%= f.collection_check_boxes :tag_ids, Tag.all, :id, :name %>
  </div>

  <div class="field">
    <%= f.label :motivation, "I will do this because" %><br>
    <%= f.text_area :motivation %>
  </div>

  <div class="field">
    <%= f.label :measure, "I will know when I will have achieved my goal because" %><br>
    <%= f.text_area :measure %>
  </div>

  <div class="field">
    <%= f.label :consequence, "If I don't achieve this goal, I will" %><br>
    <%= f.text_area :consequence %>
  </div>

  <div class="field">
    <%= f.label :potential_barrier, "Something that will make this difficult is"%><br>
    <%= f.text_area :potential_barrier %>
  </div><br>

  <div class="field">
    <%= f.label :coping_strategy, "In order to cope with this difficulty, I will"%><br>
    <%= f.text_area :coping_strategy %>
  </div><br>

  <div class="field">
    <%= f.label :due_date, "I will complete this goal by"%><br>
    <%= f.date_field :due_date, value: Time.now, min: Time.now%>
  </div>

  <div class="field">
    <%= f.label :support, "My support network includes"%><br>
    <%= f.text_area :support %>
  </div><br>
  <%= f.submit %>
<% end %>
