<%= li_for_goal(goal) do %>
  <li class="list-group-item">
    <span class="badge"><%= goal.goal_points %></span>
    <%= form_for([current_user, goal], url: goals_path) do |f| %>
    <%= f.check_box :status, class: "toggle" %>
        <label><%=link_to "#{goal.name}", goal_path(goal) %></label>
        <strong>Days left:</strong><%= goal.days_left %>
        <button class="destroy"></button>
    <% end %>
  </li>
<% end %>