<% @goals.each do |goal| %>
  <tr>
  <%= form_for([current_user, goal], url: goals_path, "data-id": "#{goal.id}") do |f| %>
    <td><%= f.check_box :status, class: "toggle", "data-id": "#{goal.id}" %></td>
    <td><%=link_to "#{goal.name}", goal_path(goal) %></td>
    <td><%= goal.due_date.strftime("%B %d, %Y")%></td>
    <td><button id="<%= goal.id %>" class="destroy-goal">X</button></td>
  </tr>
  <% end %>
<%end%>

