<%= li_for_goal(goal) do %>
    <%= form_for([current_user, goal], url: goals_path) do |f| %>
    <%= f.check_box :status, class: "toggle", "data-id": "#{goal.id}" %>
      <label><%=link_to "#{goal.name}", goal_path(goal) %></label>
      <button class="destroy" data-id="<%=goal.id%>"></button>
    <% end %>
<% end %>