<div class="mini-charts chart-margin">
    <div class="row">
        <div class="col-sm-6 col-md-3">
            <div class="mini-charts-item bgm-cyan">
                <div class="clearfix">
                 <!--    <div class="chart stats-bar"></div> -->
                    <div class="count">
                        <small>Total Activities</small>
                        <h2><%= current_user.activities.count %></h2>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-md-3">
            <div class="mini-charts-item bgm-lightgreen">
                <div class="clearfix">
                 <!--    <div class="chart stats-bar-2"></div> -->
                    <div class="count">
                        <small>Total Goals</small>
                        <h2><%= current_user.goals.count %></h2>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-md-3">
            <div class="mini-charts-item bgm-orange">
                <div class="clearfix">
                   <!--  <div class="chart stats-line"></div> -->
                    <div class="count">
                        <small>Total Points</small>
                        <h2><%= current_user.points %></h2>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-md-3">
            <div class="mini-charts-item bgm-bluegray">
                <div class="clearfix"><!--
                    <div class="chart stats-line-2"></div> -->
                    <div class="count">
                        <small>Cheers!</small>
                        <h2><%= current_user.cheers.count %></h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
  <div class="col-sm-6">
    <%= render 'shared_partials/goal_container' %>
  </div>
  <div class="col-sm-6">
     <%= render 'shared_partials/feed_container' %>
  </div>
</div>
<div class="row">
  <div class="col-sm-4">
    <div class="card">
      <div class="listview scrollable">
          <div class="lv-header">
              Tasks
          </div>
          <div class="lv-body">
          <% if @goals %>
            <% @goals.each do |goal| %>
              <div class="lv-item">
                  <div class="lv-title m-b-5"><%= goal.name %></div>

                  <div class="progress">
                      <div class="progress-bar" role="progressbar" aria-valuenow="<%= goal.percentage_activity_occurence_complete %>" aria-valuemin="0" aria-valuemax="100" style="width: <%= goal.percentage_activity_occurence_complete %>%">
                          <span class="sr-only"><%= goal.percentage_activity_occurence_complete %>% Complete (success)</span>
                      </div>
                  </div>
              </div>
            <%end%>
          <%end%>
          </div>
      </div>
  </div>
  </div>
</div>

  <h3>My Groups</h3>
  <ul>
    <% @groups.each do |group| %>
    <li> <%=link_to "#{group.name}", group_path(group) %>
    </li>
    <% end %>
  </ul>

  <%= link_to "Create New Group", new_group_path %>


