<!-- Recent Posts -->
<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-header ch-alt m-b-20">
        <h2>Recent Posts <small>Phasellus condimentum ipsum id auctor imperdie</small></h2>
        <ul class="actions">
          <li>
            <a href="">
              <i class="md md-cached"></i>
            </a>
          </li>
          <li>
            <a href="">
              <i class="md md-file-download"></i>
            </a>
          </li>
          <li class="dropdown">
            <a href="" data-toggle="dropdown">
              <i class="md md-more-vert"></i>
            </a>

            <ul class="dropdown-menu dropdown-menu-right">
              <li>
                <a href="">Change Date Range</a>
              </li>
              <li>
                <a href="">Change Graph Type</a>
              </li>
              <li>
                <a href="">Other Settings</a>
              </li>
            </ul>
          </li>
        </ul>

        <button class="btn bgm-cyan btn-float"><i class="md md-add"></i></button>
      </div>

      <div class="card-body">
        <div class="listview">
          <a class="lv-item" href="">
            <div class="media">
              <div class="pull-left">
                <img class="lv-img-sm" src="img/profile-pics/1.jpg" alt="">
              </div>
              <div class="media-body">
                <div class="lv-title">David Belle</div>
                <small class="lv-small">Cum sociis natoque penatibus et magnis dis parturient montes</small>
              </div>
            </div>
          </a>
          <a class="lv-item" href="">
            <div class="media">
              <div class="pull-left">
                <img class="lv-img-sm" src="img/profile-pics/2.jpg" alt="">
              </div>
              <div class="media-body">
                <div class="lv-title">Jonathan Morris</div>
                <small class="lv-small">Nunc quis diam diamurabitur at dolor elementum, dictum turpis vel</small>
              </div>
            </div>
          </a>
          <a class="lv-item" href="">
            <div class="media">
              <div class="pull-left">
                <img class="lv-img-sm" src="img/profile-pics/3.jpg" alt="">
              </div>
              <div class="media-body">
                <div class="lv-title">Fredric Mitchell Jr.</div>
                <small class="lv-small">Phasellus a ante et est ornare accumsan at vel magnauis blandit turpis at augue ultricies</small>
              </div>
            </div>
          </a>
          <a class="lv-item" href="">
            <div class="media">
              <div class="pull-left">
                <img class="lv-img-sm" src="img/profile-pics/4.jpg" alt="">
              </div>
              <div class="media-body">
                <div class="lv-title">Glenn Jecobs</div>
                <small class="lv-small">Ut vitae lacus sem ellentesque maximus, nunc sit amet varius dignissim, dui est consectetur neque</small>
              </div>
            </div>
          </a>
          <a class="lv-item" href="">
            <div class="media">
              <div class="pull-left">
                <img class="lv-img-sm" src="img/profile-pics/4.jpg" alt="">
              </div>
              <div class="media-body">
                <div class="lv-title">Bill Phillips</div>
                <small class="lv-small">Proin laoreet commodo eros id faucibus. Donec ligula quam, imperdiet vel ante placerat</small>
              </div>
            </div>
          </a>
          <a class="lv-footer" href="">View All</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-6">
   <div id="todo-lists">
          <div class="tl-header">
              <h2>Todo Lists</h2>
              <small>Add, edit and manage your Todo Lists</small>

              <ul class="actions actions-alt">
                  <li class="dropdown">
                      <a href="" data-toggle="dropdown">
                          <i class="md md-more-vert"></i>
                      </a>

                      <ul class="dropdown-menu dropdown-menu-right">
                          <li>
                              <a href="">Refresh</a>
                          </li>
                          <li>
                              <a href="">Manage Widgets</a>
                          </li>
                          <li>
                              <a href="">Widgets Settings</a>
                          </li>
                      </ul>
                  </li>
              </ul>
          </div>

          <div class="clearfix"></div>

          <div class="tl-body">
              <div id="add-tl-item">
                  <i class="add-new-item md md-add"></i>

                  <div class="add-tl-body">
                      <textarea placeholder="What you want to do..."></textarea>

                      <div class="add-tl-actions">
                          <a href="" data-tl-action="dismiss"><i class="md md-close"></i></a>
                          <a href="" data-tl-action="save"><i class="md md-check"></i></a>
                      </div>
                  </div>
              </div>

              <div class="checkbox media">
                  <div class="pull-right">
                      <ul class="actions actions-alt">
                          <li class="dropdown">
                              <a href="" data-toggle="dropdown">
                                  <i class="md md-more-vert"></i>
                              </a>

                              <ul class="dropdown-menu dropdown-menu-right">
                                  <li><a href="">Delete</a></li>
                                  <li><a href="">Archive</a></li>
                              </ul>
                          </li>
                      </ul>
                  </div>
                  <div class="media-body">
                      <label>
                          <input type="checkbox">
                          <i class="input-helper"></i>
                          <span>Duis vitae nibh molestie pharetra augue vitae</span>
                      </label>
                  </div>
              </div>

              <div class="checkbox media">
                  <div class="pull-right">
                      <ul class="actions actions-alt">
                          <li class="dropdown">
                              <a href="" data-toggle="dropdown">
                                  <i class="md md-more-vert"></i>
                              </a>

                              <ul class="dropdown-menu dropdown-menu-right">
                                  <li><a href="">Delete</a></li>
                                  <li><a href="">Archive</a></li>
                              </ul>
                          </li>
                      </ul>
                  </div>
                  <div class="media-body">
                      <label>
                          <input type="checkbox">
                          <i class="input-helper"></i>
                          <span>In vel imperdiet leoorbi mollis leo sit amet quam fringilla varius mauris orci turpis</span>
                      </label>
                  </div>
              </div>

              <div class="checkbox media">
                  <div class="pull-right">
                      <ul class="actions actions-alt">
                          <li class="dropdown">
                              <a href="" data-toggle="dropdown">
                                  <i class="md md-more-vert"></i>
                              </a>

                              <ul class="dropdown-menu dropdown-menu-right">
                                  <li><a href="">Delete</a></li>
                                  <li><a href="">Archive</a></li>
                              </ul>
                          </li>
                      </ul>
                  </div>
                  <div class="media-body">
                      <label>
                          <input type="checkbox">
                          <i class="input-helper"></i>
                          <span>Suspendisse quis sollicitudin erosvel dictum nunc</span>
                      </label>
                  </div>
              </div>

              <div class="checkbox media">
                  <div class="pull-right">
                      <ul class="actions actions-alt">
                          <li class="dropdown">
                              <a href="" data-toggle="dropdown">
                                  <i class="md md-more-vert"></i>
                              </a>

                              <ul class="dropdown-menu dropdown-menu-right">
                                  <li><a href="">Delete</a></li>
                                  <li><a href="">Archive</a></li>
                              </ul>
                          </li>
                      </ul>
                  </div>
                  <div class="media-body">
                      <label>
                          <input type="checkbox">
                          <i class="input-helper"></i>
                          <span>Curabitur egestas finibus sapien quis faucibusras bibendum ut justo at sagittis. In hac habitasse platea dictumst</span>
                      </label>
                  </div>
              </div>

              <div class="checkbox media">
                  <div class="pull-right">
                      <ul class="actions actions-alt">
                          <li class="dropdown">
                              <a href="" data-toggle="dropdown">
                                  <i class="md md-more-vert"></i>
                              </a>

                              <ul class="dropdown-menu dropdown-menu-right">
                                  <li><a href="">Delete</a></li>
                                  <li><a href="">Archive</a></li>
                              </ul>
                          </li>
                      </ul>
                  </div>
                  <div class="media-body">
                      <label>
                          <input type="checkbox">
                          <i class="input-helper"></i>
                          <span>Suspendisse potenti. Cras dolor augue, tincidunt sit amet lorem id, blandit rutrum libero</span>
                      </label>
                  </div>
              </div>

              <div class="checkbox media">
                  <div class="pull-right">
                      <ul class="actions actions-alt">
                          <li class="dropdown">
                              <a href="" data-toggle="dropdown">
                                  <i class="md md-more-vert"></i>
                              </a>

                              <ul class="dropdown-menu dropdown-menu-right">
                                  <li><a href="">Delete</a></li>
                                  <li><a href="">Archive</a></li>
                              </ul>
                          </li>
                      </ul>
                  </div>
                  <div class="media-body">
                      <label>
                          <input type="checkbox">
                          <i class="input-helper"></i>
                          <span>Proin luctus dictum nisl id auctor. Nullam lobortis condimentum arcu sit amet gravida</span>
                      </label>
                  </div>
              </div>
          </div>
     </div>
  </div>
</div>



<div class="row">
  <div class="col-lg-5">
    <div class="media">
      <a class="pull-left" href="#">
        <!--   <img class="media-object dp img-circle" src="http://www.huffmancode.com/img/hardik.jpg" style="width: 100px;height:100px;"> -->
        <%= image_tag current_user.avatar.url(:thumb), class: "media-object dp img-circle" %>

      </a>
      <div class="media-body">
        <h4 class="media-heading"><%= current_user.name %><small> France</small></h4>
        <h5>Working Goals : <%= @goals.count %> || <span class="label label-default"><%= current_user.points %> Points</span>
          <hr style="margin:8px auto">
        </div>
      </div>
    </div>
  </div>


  <div class="row">
   <div class="col-md-5">
    <h3>My Goals</h3>
    <ul class="list-group">
      <% if @goals %>
      <% @goals.each do |goal| %>
      <li class="list-group-item">
        <span class="badge"><%= goal.activities.count %></span>
        <%=link_to "#{goal.name}", goal_path(goal) %>
      </li>
      <%end%>
      <%end%>
    </ul>
    <%= link_to "Create New Goal", new_goal_path, class: "btn btn-default btn-lg btn-block" %>
  </div>
</div>




<h3>My Groups</h3>
<ul>
  <% @groups.each do |group| %>
  <li> <%=link_to "#{group.name}", group_path(group) %>
  </li>
  <% end %>
</ul>

<%= link_to "Create New Group", new_group_path %>

