<section id="content">
    <%= render 'mini_dashboard_charts' %>
  <div class="container">
    <div class="block-header">
      <h2 style="font-family:comic sans ms, lucida console;"><strong><%= MotivationalQuote.find(rand(1..MotivationalQuote.count)).content %></strong></h2>
    </div>
    <!-- BEGIN ACTIVITIES CARD -->
    <!-- <div class="ms-body"> -->
      <div class=".col-xs-4 .col-sm-6">
        <div class="card">
          <h4>Things To Do <small>one step-at-a-time</small></h4>  
          <!-- <div class="card-body table-responsive" tabindex="0" style="overflow;outline:none;"> -->
            <div class="activities-scroll">
              <!-- <div class="listview lv-message"> -->
                <table class="table">
                  <thead>
                    <tr>
                      <th>Status</th>
                      <th>Description</th>
                      <th>Times</th>
                      <th>By</th>
                      <th>Delete</th>
                    </tr>
                  </thead>                  
                  <% @activities.each do |activity| %>
                    <tbody>
                      <tr data-activity-id="<%=activity.id %>" class="" >
                        <% goal = activity.goal %>
                        <%= form_for([goal, activity]) do |f| %>
                        <td><%= f.check_box :status, class: "toggle" %></td>
                        <td><%=link_to activity.description, goal_path(activity.goal) %></td>
                        <td><%=activity.remaining_for_period%></td>
                        <td><%=activity.upcoming_due_dates.first.strftime("%B %d, %Y") %></td>
                        <td><button class="destroy">X</button></td>
                        <% end %>
                      </tr>
                    </tbody>
                  <% end %>
                </table>           
              <!-- </div> -->
            </div>
          <!-- </div> -->
        </div>
      </div>
    <!-- END ACTIVITIES CARD -->
    <div class="row">
      <div class="col-xs-6">
        <div class-"card">
          <table class="table">
            <thead>
              <tr>
                <th>Status</th>
                <th>Goal</th>
                <th>Due Date</th>
              </tr>
            </thead>
            <tbody>
              <tr><%= render 'goal', goal: @goal %></tr>
            </tbody>
          </table>
        </div>
        <div class="card">
            <%= render 'goal_progress', goals: @goals %>
    
        </div>
      </div>
    <div class="col-md-6">
      <h5 style="background-color:#c3e0fb;padding:5px;">My Groups</h5>
      <div class="ms-user" style="height:160px;list-style-type:none;overflow:scroll;">
        <%= render @groups %>
      </div>
      <%= link_to "Create New Group", new_group_path %>
    </div>
    </div>
    <!-- END OF GOALS CARD -->

    <!-- BEGIN GROUPS CARD -->
    <!-- <div class="card m-v-0" id="messages-main"> -->
    <!-- END OF GROUPS CARD -->
    <div class="row" style="padding-left:15px;padding-top:0px;">
        <!-- BEGIN FEED CARD -->
      <div class=".col-xs-6">
      NewsFeed
        <div class="activities-scroll">
          <div class="listview lv-message">
            <%= render @feeds %>
          </div>
        </div>
      </div>
    <!-- END FEED CARD -->
    </div>
  </div>
</section>