<script>
  $(document).ready(function () {
    /*
    * SPARKLINE
    */
    function sparklineBar(id, values, height, barWidth, barColor, barSpacing) {
        $('.'+id).sparkline(values, {
            type: 'bar',
            height: height,
            barWidth: barWidth,
            barColor: barColor,
            barSpacing: barSpacing
        })
    }

    function sparklineLine(id, values, width, height, lineColor, fillColor, lineWidth, maxSpotColor, minSpotColor, spotColor, spotRadius, hSpotColor, hLineColor) {
        $('.'+id).sparkline(values, {
            type: 'line',
            width: width,
            height: height,
            lineColor: lineColor,
            fillColor: fillColor,
            lineWidth: lineWidth,
            maxSpotColor: maxSpotColor,
            minSpotColor: minSpotColor,
            spotColor: spotColor,
            spotRadius: spotRadius,
            highlightSpotColor: hSpotColor,
            highlightLineColor: hLineColor
        });
    }

    function sparklinePie(id, values, width, height, sliceColors) {
        $('.'+id).sparkline(values, {
            type: 'pie',
            width: width,
            height: height,
            sliceColors: sliceColors,
            offset: 0,
            borderWidth: 0
        });
    }

    /* Mini Chart - Bar Chart 1 */
    if ($('.stats-bar')[0]) {
        sparklineBar('stats-bar', [6,4,8,6,5,6,7,8,3,5,9,5,8,4,3,6,8], '45px', 3, '#fff', 2);
    }

    /* Mini Chart - Bar Chart 2 */
    if ($('.stats-bar-2')[0]) {
        sparklineBar('stats-bar-2', [4,7,6,2,5,3,8,6,6,4,8,6,5,8,2,4,6], '45px', 3, '#fff', 2);
    }

    /* Mini Chart - Line Chart 1 */
    if ($('.stats-line')[0]) {
        sparklineLine('stats-line', [9,4,6,5,6,4,5,7,9,3,6,5], 85, 45, '#fff', 'rgba(0,0,0,0)', 1.25, 'rgba(255,255,255,0.4)', 'rgba(255,255,255,0.4)', 'rgba(255,255,255,0.4)', 3, '#fff', 'rgba(255,255,255,0.4)');
    }

    /* Mini Chart - Line Chart 2 */
    if ($('.stats-line-2')[0]) {
        sparklineLine('stats-line-2', [5,6,3,9,7,5,4,6,5,6,4,9], 85, 45, '#fff', 'rgba(0,0,0,0)', 1.25, 'rgba(255,255,255,0.4)', 'rgba(255,255,255,0.4)', 'rgba(255,255,255,0.4)', 3, '#fff', 'rgba(255,255,255,0.4)');
    }

    /* Mini Chart - Pie Chart 1 */
    if ($('.stats-pie')[0]) {
        sparklinePie('stats-pie', [20, 35, 30, 5], 45, 45, ['#fff', 'rgba(255,255,255,0.7)', 'rgba(255,255,255,0.4)', 'rgba(255,255,255,0.2)']);
    }

    /* Dash Widget Line Chart */
    if ($('.dash-widget-visits')[0]) {
        sparklineLine('dash-widget-visits', <%= activities_array %>, '100%', '95px', 'rgba(255,255,255,0.7)', 'rgba(0,0,0,0)', 2, 'rgba(255,255,255,0.4)', 'rgba(255,255,255,0.4)', 'rgba(255,255,255,0.4)', 5, 'rgba(255,255,255,0.4)', '#fff');
    }



    /*
     * Easy Pie Charts - Used in widgets
     */
    function easyPieChart(id, trackColor, scaleColor, barColor, lineWidth, lineCap, size) {
        $('.'+id).easyPieChart({
            trackColor: trackColor,
            scaleColor: scaleColor,
            barColor: barColor,
            lineWidth: lineWidth,
            lineCap: lineCap,
            size: size
        });
    }

    /* Main Pie Chart */
    if ($('.main-pie')[0]) {
        easyPieChart('main-pie', 'rgba(255,255,255,0.2)', 'rgba(255,255,255,0.5)', 'rgba(255,255,255,0.7)', 7, 'butt', 148);
    }

    /* Others */
    if ($('.sub-pie-1')[0]) {
        easyPieChart('sub-pie-1', '#eee', '#ccc', '#2196F3', 4, 'butt', 95);
    }

    if ($('.sub-pie-2')[0]) {
        easyPieChart('sub-pie-2', '#eee', '#ccc', '#FFC107', 4, 'butt', 95);
    }
});

</script>

<div class="mini-charts chart-margin">
    <div class="row">
        <div class="col-sm-6 col-md-3">
            <div class="mini-charts-item bgm-cyan">
                <div class="clearfix">
                 <!--    <div class="chart stats-bar"></div> -->
                    <div class="count">
                        <small>Total Activities</small>
                        <h2><%= current_user.activities.count %></h2>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-md-3">
            <div class="mini-charts-item bgm-lightgreen">
                <div class="clearfix">
                 <!--    <div class="chart stats-bar-2"></div> -->
                    <div class="count">
                        <small>Total Goals</small>
                        <h2><%= current_user.goals.count %></h2>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-md-3">
            <div class="mini-charts-item bgm-orange">
                <div class="clearfix">
                   <!--  <div class="chart stats-line"></div> -->
                    <div class="count">
                        <small>Total Points</small>
                        <h2><%= current_user.points %></h2>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-md-3">
            <div class="mini-charts-item bgm-bluegray">
                <div class="clearfix"><!--
                    <div class="chart stats-line-2"></div> -->
                    <div class="count">
                        <small>Cheers!</small>
                        <h2><%= current_user.cheers.count %></h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
  <div class="col-sm-6">
    <%= render 'shared_partials/goal_container' %>
  </div>
  <div class="col-sm-6">
     <%= render 'shared_partials/feed_container' %>
  </div>
</div>
<div class="row">
  <div class="col-sm-4 col-md-offset-0.5">
    <div class="card">
      <div class="listview scrollable">
          <div class="lv-header">
              Tasks
          </div>
          <div class="lv-body">
          <% if @goals %>
            <% @goals.each do |goal| %>
              <div class="lv-item">
                  <div class="lv-title m-b-5"><%= goal.name %></div>

                  <div class="progress">
                      <div class="progress-bar" role="progressbar" aria-valuenow="<%= goal.percentage_activity_occurence_complete %>" aria-valuemin="0" aria-valuemax="100" style="width: <%= goal.percentage_activity_occurence_complete %>%">
                          <span class="sr-only"><%= goal.percentage_activity_occurence_complete %>% Complete (success)</span>
                      </div>
                  </div>
              </div>
            <%end%>
          <%end%>
          </div>
      </div>
  </div>
  </div>

  <div class="col-md-3 col-sm-6">
        <div id="site-visits" class="dash-widget-item bgm-teal">
            <div class="dash-widget-header">
                <div class="p-20">
                    <div class="dash-widget-visits"></div>
                </div>
                <div class="dash-widget-title">Aggregation</div>
            </div>
            <div class="p-20">

                <small>Activity completed</small>
                <h3 class="m-0 f-400"><%= total_goal_activity_occurence %></h3>

                <br/>

                <small>Activity remaining</small>
                <h3 class="m-0 f-400"><%= total_remaining_goal_activity_occurence %></h3>

                <br/>

                <small>Last Signed in</small>
                <h3 class="m-0 f-400"><small><%= time_ago_in_words(current_user.last_sign_in_at) %></small></h3>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="mini-charts-item bgm-pink">
            <div class="clearfix">
                <div class="chart chart-pie stats-pie"></div>
                <div class="count">
                    <small>Groups</small>
                    <h2><%= current_user.groups.count %></h2>
                </div>
            </div>
        </div>



        <div class="mini-charts-item bgm-red">
            <div class="clearfix">
                <div class="chart stats-line"></div>
                <div class="count">
                    <small>Boards</small>
                    <h2><%= current_user.user_board_count %></h2>
                </div>
            </div>
        </div>



        <div class="mini-charts-item bgm-blue">
            <div class="clearfix">
                <div class="chart chart-pie stats-pie"></div>
                <div class="count">
                    <small>Comments</small>
                    <h2><%= current_user.comments.count %></h2>
                </div>
            </div>
        </div>
    </div>
</div>

  <h3>My Groups</h3>
  <ul>
    <% @groups.each do |group| %>
    <li> <%=link_to "#{group.name}", group_path(group) %>
    </li>
    <% end %>
  </ul>

  <%= link_to "Create New Group", new_group_path %>


