<div class="row">
  <div class="col-sm-6">
    <%= render 'shared_partials/goal_container' %>
  </div>
  <div class="col-sm-6">
     <%= render 'shared_partials/feed_container' %>
  </div>
</div>

<%= tag("i", class: "input-helper" ) %>
<!-- Goals post-->

<div class="row">
  <div class="col-lg-5">
    <div class="media">
      <a class="pull-left" href="#">
        <!--   <img class="media-object dp img-circle" src="http://www.huffmancode.com/img/hardik.jpg" style="width: 100px;height:100px;"> -->

        <%= image_tag current_user.avatar.url(:thumb), class: "media-object dp img-circle" if !current_user.uid%>
        <%= image_tag current_user.image_url, class: "media-object dp img-circle" if current_user.uid%>

      </a>
    </div>
  </div>


  <div class="row">
   <div class="col-md-5">
    <h3>My Goals</h3>
    <ul class="list-group">
      <% if @goals %>
      <% @goals.each do |goal| %>
      <li class="list-group-item">
        <span class="badge"><%= goal.activities.count %></span>
        <%=link_to "#{goal.name}", goal_path(goal) %>
      </li>
      <%end%>
      <%end%>
    </ul>
    <%= link_to "Create New Goal", new_goal_path, class: "btn btn-default btn-lg btn-block" %>
  </div>
  <div class="col-md-5">
    <h3>My Goals</h3>
    <ul class="list-goals">
      <%= render @goals %>
    </ul>
    <%= link_to "Create New Goal", new_goal_path, class: "btn btn-default btn-lg btn-block" %>
  </div>

  <h3>My Groups</h3>
  <ul>
    <% @groups.each do |group| %>
    <li> <%=link_to "#{group.name}", group_path(group) %>
    </li>
    <% end %>
  </ul>

  <%= link_to "Create New Group", new_group_path %>


