<header id="header">
  <h1><%= @goal.name %></h1>
  <h4><%= @goal.description %></h4>
<!-- <div class="activities-form"> -->
  <!-- <h4>What's the next step in your goal?</h4> -->
  <%#= render 'activities/form' %>
<!-- </div> -->

  <%= render 'activities/form' %>
  
</header>

<section id="main">
  <ul id="activities-list" data-actvity-id="<%= @goal.id %>" class="list">
    <%= render @activities %>
  </ul>
</section>

<%= link_to "Back", goals_path %>
<%= link_to "Edit", edit_goal_path(@goal) %>