<%= li_for_activity(activity) do %>
  <div class="view">
    <%= form_for([@goal, activity]) do |f| %>
      <tr>
        <td><%= f.check_box :status, class: "toggle" %></td>
        <td><label><%=f.label :description, activity.description %></label>
        <span class="act-frequency"><%= activity.frequency%></span>
         times per 
         <span class="act-period"><%= activity.period%></span><!-- | --><%#= activity.barrier%><%#= activity.facilitator %></td>
      </tr><br>
      <tr>
        <td class="earliest-due-date"><strong>To complete by </strong><%= activity.upcoming_due_dates.first%></td>
        <td class="frequency"><strong>Points for this activity:</strong><%= activity.activity_points %></td>
        <td class ="counter"><strong>Left:</strong> <%= activity.remaining_for_period %></td>
        <td><button class="destroy"></button></td>
      </tr>
    <% end %>
    <tr class="activity-li-attributes">
     <!--  <td><%#= activity.period %></td>
      <td><%#= activity.facilitator %></td>
      <td><%#= activity.barrier %></td> -->
      <td><%#= #activity.cheer %></td>
      <td><%#=link_to "Edit Activity", edit_goal_activity_path(activity) %></td>
    </tr>
<div id="edit-activity" class="hidden"><%= render "form" %></div>
  </div>

    <!-- <%= form_for([@goal, activity], html: {class: "update"}) do |f| %>
      <%= f.text_field :description, class: "edit" %>
      <div id="additional-fields" class="hidden">
        <tr class="activity-attributes">
           <td><%= f.select :frequency, options_for_select((1..12)), class: "edit" %></td>
          <td><%= f.select :period, options_for_select(["day", "week", "month", "year"]), class: "edit" %></td>
          <td><%#= f.text_field :facilitator, class: "edit" %></td>
          <td><%#= f.text_field :barrier, class: "edit" %></td>

        </tr>
      </div>
    <%#= f.submit %>
    <% end %>
<% end %> -->