<%= li_for_activity(activity) do %>
  <div class="view">
    <%= form_for([@goal, activity]) do |f| %>
      <tr>
        <td><%= f.check_box :status, class: "toggle" %></td>
        <td><label><%= activity.description %></label></td>
        <td class="earliest-due-date"><strong>To complete by</strong><%= activity.upcoming_due_dates.first%></td>
        <td class="frequency"><strong>Points for this activity:</strong><%= activity.activity_points %></td>
        <td class ="counter"><strong>Left:</strong> <%= activity.remaining_for_period %></td>
        <td><button class="destroy"></button></td>
      </tr>
    <% end %>
    <tr class="activity-li-attributes">
      <td><%= activity.period %></td>
      <td><%= activity.facilitator %></td>
      <td><%= activity.barrier %></td>
      <td><%#= #activity.cheer %></td>
      <td><%#=link_to "Edit Activity", edit_goal_activity_path(activity) %></td>
    </tr>

    <%#= form_for([@goal, activity], :method => :delete) do |f| %>
      <%# end %>
  </div>

    <%= form_for([@goal, activity], html: {class: "update"}) do |f| %>
      <%= f.text_field :description, class: "edit" %>
      <div id="additional-fields" class="hidden">
        <tr class="activity-attributes">
          <td><%= f.text_field :period, class: "edit" %></td>
          <td><%= f.text_field :facilitator, class: "edit" %></td>
          <td><%= f.text_field :barrier, class: "edit" %></td>

        </tr>
      </div>
    <%#= f.submit %>
    <% end %>
<% end %>