<%= form_for(@activity, url: goal_activities_path(@goal)) do |f| %>
  <div class="field">
    <%= f.label :description %>
    <%= f.text_field :description %>
  </div>

  <div class="field">
    <%#= f.label :period, "Time Period"%>
    <%#= f.text_field :period %>
    <label>How often will you do this activity?</label>
    <%= f.select :frequency, options_for_select((1..12)), :include_blank => "Frequency" %>
    <%= f.label :frequency, "times"%>,
    <%= f.label :period, "every"%>
    <%= f.select :period, options_for_select(["hour", "day", "week", "month", "year"]), :include_blank => "Period" %>
  </div>

  <div class="field">
    <%= f.label :barrier, "Potential Barriers"%><br>
    <%#= f.text_area :barrier %>
    <%= f.select :barrier, options_for_select(["Lack of time", "Lack of Support", ""]) %>
  </div>

  <div class="field">
    <%= f.label :facilitator, "Facilitators"%>
    <%= f.text_area :facilitator %>
  </div>


  <%= f.submit %>
<% end %>
