<%= form_for(@activity, url: goal_activities_path(@goal), id: "new-activity", remote: true) do |f| %>

  <% if @activity.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@activity.errors.count, "error") %> prohibited this activity from being saved:</h2>

      <ul>
        <% @activity.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>

  <div class="field">
    <label>How often will you do this activity?</label>
    <%= f.select :frequency, options_for_select((1..12)) %>
    <%= f.label :frequency, "times"%>,
    <%= f.label :period, "every"%>
    <%= f.select :period, options_for_select(["day", "week", "month", "year"]) %>
  </div><br>

  <div class="field">
    <%= f.label :barrier, "Challenge"%>
    <%#= f.text_area :barrier %>
    <%= f.select :barrier, options_for_select(["Lack of time", "Lack of Support", "I forget", "I don't like to do it", "It hurts"]) %>
  </div><br>

  <div class="field">
    <%= f.label :facilitator, "How will you cope with this challenge?"%>
    <%#= f.text_area :facilitator %>
   <%= f.select :facilitator, options_for_select(["I will set my alarm", "I will ask a friend to remind me", "I will take a warm shower afterwards"]) %>
  </div><br>


  <%= f.submit %>
<% end %>
